################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.zip
__pycache__

# debug folders
node_wrangler_octane_*/*
node_wrangler_3*/*
node_wrangler_4*/*